 * {
    box-sizing: border-box;
    font-family: @font-family;
    width: 100%;
    height: auto;
  }

html {
    font-size: 62.5%;
  }


h1 {
    font-size: 4rem;
  }
  
  h2 {
    font-size: 2rem;
  }
  
  h4 {
    font-size: 2.5rem;
    padding-bottom: 10px;
  }
  
  p {
    line-height: 1.5;
    font-size: 1.6rem;
    padding-bottom: 10px;
  }
  
.hidden {
  opacity: 0;
}

